.banner {
  background: url("https://a0.muscache.com/im/pictures/bbb00ab3-15aa-4d32-8cf4-8190f1e6907a.jpg?im_w=1200");
  /* height: 60vh; */
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.banner_info {
  /* background-color: black; */
  color: black;
  padding: 15vh 50px 40px 50px;
  width: 300px;
}

.banner_info h1 {
  font-size: 48px;
  font-weight: 800;
}
.banner_info h5 {
  margin: 10px 0px;
  font-weight: 400;
}

.banner_info button {
  background-color: #ff7779;
  color: white;
  text-transform: inherit;
}

.banner_search {
  display: flex;
  flex-direction: column;
}

.banner_info button:hover {
  color: #ff7779;
  background-color: white;
}

.banner_searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;
  border: 0px !important;
}
