.search {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35px;
  left: 25%;
  /* width: 100vw; */
  background-color: white;
  align-items: center;
}

.searchGuestNumber {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search input {
  /* color: red; */
  width: 50%;
}
.searchInput {
  border: none;
  padding: 10px 5px;
}

.searchInput:focus {
  outline-width: 0;
}
.searchButton {
  text-transform: inherit !important;
  background-color: #ff7779 !important;
  color: white !important;
  margin: 10px 0px !important;
  width: 100%;
}

.searchButton:hover {
  background-color: #fff !important;
  color: #ff7779 !important;
  border: 1px solid #ff7779 !important;
}
